body {
    font-family: helvetica;
    background-color: #0055ff;
    color: #fafafa;
}

h1, h2, h3 {
    font-family: 'Arvo', serif;
}



/*---------------------------------------------------- Navbar*/

.navbar-brand {
    color: #ffffff!important;
    font-size: 25px;
    float: none;
    display: inline-block;
}

.navbar-default {
    width: 100%;
    height: auto;
    font-family: 'Arvo', serif;
    background-color: #0055ff;
    text-transform: uppercase;
}

.navbar-nav {
    display: inline-block;
    font-size: 15px;
}

.nav.navbar-nav.navbar-right li a {
    color: #ffffff;
    width: auto;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #fd0505;
    color: #ffffff;
    transition: all 1s ease;
}

.glyphicon-user {
    margin-right: 5px;
}

.navbar-fixed-top .active a {
    background-color: #fd0505!important;
    color: #ffffff!important;
}

/*---------------------------------------------------- Jumbotron*/

.jumbotron {
    background-image:url("images2/national.jpg") no-repeat center center;
    display: block;
    padding-bottom: 5px;
    margin: 15px;
    margin-top: 2px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}  

.jumbotron2 {
    background-image:url("images2/literature.jpg") no-repeat center center;
    display: block;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
} 

.MoreInfo {
    font-family: helvetica;
    color: #0055ff;
    margin: 10px;
}

#JumboImage { 
    width: 100%;
    height: auto;
}

#JumboImage2 { 
    margin-top: -50px;
    margin-bottom: 5px;
    width: 100%;
    height: auto;
}

.heading {
    position: absolute;
    width: 100%;
    margin-top: 50px;
    margin-left: -50px;
    font-size: 100px;
}

.lead {
    position: absolute;
    width: 100%;
    margin-top: 110px;
    margin-left: -50px;
    font-size: 100px;
}


.btn-danger {
    margin-bottom: 25px;
    margin: 10px;

}

.wrapper {
    background-color: #ffffff;
    font-family: helvetica;
    color: #0055ff;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
}

.wrapper img {
    padding-top: 10px;
    width: auto;
    max-width: 100%;
    height: auto;
}

#HeaDing {
    Padding-top: 50px;
}
/*---------------------------------------------------- Social Media*/

#footer-details {
    background-color: #ffffff;
    color: #0055ff;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

.social-links li a i:hover {
    background: #0055ff;
    animation-name: socialL;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
}

@keyframes socialL {
    from {
     transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.form-group {
    color: #0055ff;
}




/*---------------------------------------------------- Media Queries*/

@media (max-width: 1199px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: inline-block;
        margin: 10px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .navbar-brand {
        margin-left: -10px;
    }
}

@media (max-width: 768px) {
    #JumboImage {
        margin-top: 23px;
    }
    #JumboImage2 {
        margin-top: -35px;
    }
}

@media (max-width: 324px) {
    .heading {
        font-size: 18px!important;
    }
    .lead {
        font-size: 16px!important;
    }
}



/*---------------------------------------------------- Videos*/

.videowrapper {
    
    position: relative;
    padding-bottom: 40%;
    padding-top: 40px;
    margin-top: 10px;
    height: 0px;
}

.videowrapper iframe {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}